/*
  COLOURS

  background: #black
  primary button: #da96df

*/

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.background {
  padding: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  background: linear-gradient(150deg, #ffffff, #da96df 100%, #282d39 0);
}

.auth-container {
  width: 420px;
  height: 292px;
  position: relative;
  top: calc(50vh - 144px - 100px);
  left: calc(50vw - 240px - 100px);
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}

.auth-form {
  padding-top: 33px;
  width: 60%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-title {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  background: linear-gradient(90deg, #da96df 0%, #ffffff 50%, #da96df 100%);
  animation: background-pan 3s linear infinite;
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 600;
}

.input-container {
  width: 100%;
}

.text-input {
  width: 94%;
  padding: 8px;
  padding-right: 8px;
  margin-bottom: 24px;
  background-color: #414141;
  outline: none;
  border-width: 0px;
  border-bottom: 2px solid #ffffff;
  color: white;
  border-radius: 5px;
  place-self: center;
}

.text-input::placeholder {
  color: hsla(0, 0%, 100%, 0.568);
}

.submit-button {
  width: 75%;
  padding: 14px;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  background-color: #da96df;
  color: black;
  outline: none;
  transition: background-color 0.75s ease;
}

.submit-button:hover {
  background-color: #a16893;
}
